<!DOCTYPE html>
<html lang="en">
<!-- Head -->
<%- include('./partials/head.ejs')  %> 
<body>

    <!-- Navbar -->
    <%- include('./partials/nav.ejs')  %> 

    <div class="blogs section">
        <h2>All Blogs</h2>
        <hr>

        <% if (blogs.length > 0) { %>
            <% blogs.forEach(blog => { %>
                <a class="single" href="/blogs/<%= blog._id %>">
                    <h3 class="title"><%= blog.title %> </h3>
                    <p class="snippet"><%= blog.snippet %></p>
                </a>
            <% }) %>
        <% } else { %>
            <h3>No blogs found</h3>
        <% } %> 
    </div>

    <!-- Footer -->
    <%- include('./partials/footer.ejs')  %> 
</body>
</html>